<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/page_404.css" />
    <link rel="stylesheet" type="text/css" href="../static/reset.css" />
    <title>{{ page }}</title>
  </head>
  <body>
    <div class="not_found_container">
      <img alt="goblin" src="../static/assets/pictures/goblin.JPG" />
      <span>
        404<br />
        {{ message }}
      </span>
    </div>
  </body>
</html>
