<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    {% block header %}

    {% endblock %}
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    {% include 'header.html' %}

    <main>
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</body>
</html>