<!-- month.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ month }} {{ year }}</title>
</head>
<body>
    <h1>{{ month }} {{ year }}</h1>
    <div class="month-dates">
        {% for date in dates %}
            {% if loop.index0 % 7 == 0 %}
                <div class="week">
            {% endif %}
            {% include 'single_date.html' %}
            {% if loop.index % 7 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
